#include('../header.html',{active: 'users', title:'用户管理'})
#include('../article/_header.html')
<div id="app" class="row" v-cloak>
    <loading :active.sync="isLoading" :can-cancel="true"></loading>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">编辑用户</h3>
            </div>
            <div class="panel-body">
                <form id="user-form" role="form" >
                    <div class="form-group clearfix">
                        <label class="col-md-3 control-label">* 账号</label>
                        <div class="col-md-9">
                            <input type="text" name="username" class="form-control" readonly disabled
                                   v-model="user.username"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-3 control-label">* 密码</label>
                        <div class="col-md-9">
                            <input name="password" class="form-control" type="password" v-model="user.password"
                                   required aria-required="true" rangelength="[6,32]" placeholder="请输入6-32位密码"/>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="col-md-3 control-label">姓名</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="screenName" placeholder="姓名"
                                   aria-required="true" v-model="user.screenName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">邮箱</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="email" placeholder="邮箱"
                                   aria-required="true" v-model="user.email"/>
                        </div>
                    </div>
                    <div class="clearfix pull-right">
                        <a class="btn btn-default waves-effect waves-light" style="margin-top: 15px;margin-right: 10px" href="/admin/users">返回列表</a>
                        <button type="submit" style="margin-top: 15px;margin-right: 10px" class="btn btn-danger waves-effect waves-light">
                            修改用户
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

#include('../article/_footer.html')
<script src="${cdnURL()}/plugins/jquery-validate/1.15.1/jquery.validate.min.js"></script>
<script src="${cdnURL()}/plugins/jquery-validate/1.15.1/localization/messages_zh.min.js"></script>
<script>
    var tale = new $.tale();
    var vm = new Vue({
        el: '#app',
        data: {
            user: {
                uid: '',
                username: '',
                password: '',
                screenName: '',
                email: '',
                homeUrl: '',
                created: '',
                activated: '',
                logged: '',
                groupName: ''
            },
            isLoading: true
        },
        beforeCreate: function () {
            vueLoding = this.$loading.show();
        },
        mounted: function() {
            var $vm = this;
            $vm.load();
        },
        methods: {
            load: function () {
                var $vm = this;
                var pos = window.location.toString().lastIndexOf("/");
                var cid = window.location.toString().substring(pos + 1)
                tale.get({
                    url: '/admin/api/users/' + cid,
                    success: function (data) {
                        $vm.user = data.payload;
                    },
                    error: function (error) {
                        console.log(error);
                        alert(error || '数据加载失败');
                    }
                });
            }
        }
    });

    $('#user-form').validate({
        submitHandler: function () {
            tale.post({
                url : '/admin/api/users/update',
                data: tale.copy(vm.user),
                success: function (result) {
                    if(result && result.success){
                        tale.alertOk({
                            text: '修改用户成功',
                            then: function () {
                                setTimeout(function () {
                                    window.location.href = '/admin/users';
                                }, 500);
                            }
                        });
                    } else {
                        tale.alertError(result.msg || '修改用户失败');
                    }
                }
            });
        }
    });

    $(document).ready(function () {
        vm.isLoading = false;
        vueLoding.hide();
    });
</script>
</body>
</html>